@model List<JogoModel>
@{
    Layout = "_Layout";
}

<div class="text-center"><br />
    <table class="table table-content" id="table-consoles">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Marca</th>
                <th scope="col">Valor (H)</th>
                <th scope="col">Status</th>
                <th scope="col"><a role="button" class="btn btn-success" asp-controller="Jogo" asp-action="Create"><img src="~/lib/bottons/add.png" width="30" height="30"></a></th>
            </tr>
        </thead>
        <tbody>
            <!--Listar contatos SE existir-->
            @if (Model != null && Model.Any())
            {
                <!--Erro nesse Any-->
                foreach (JogoModel Jogo in Model)
                {
                            <tr>
                                <th scope="row">@Jogo.Id</th>
                                <td>@Jogo.Name</td>
                                <td>@Jogo.CategoryConsole</td>
                                <td>@Jogo.PriceHour</td>
                                <td>@Jogo.StatusJogo</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                        <a role="button" class="btn btn-success" asp-route-id="@Jogo.Id" asp-controller="Agendamento" asp-action="Create"><img src="~/lib/bottons/Del.png" width="25" height="25"></a>
                                        <a role="button" class="btn btn-warning" asp-route-id="@Jogo.Id" asp-controller="Jogo" asp-action="Edit"><img src="~/lib/bottons/edit.png" width="20" height="20"></a>
                                        <a role="button" class="btn btn-danger" asp-route-id="@Jogo.Id" asp-controller="Jogo" asp-action="DeleteConfirm"><img src="~/lib/bottons/Del.png" width="25" height="25"></a>
                                    </div>
                                </td>
                            </tr>
                }
            }
        </tbody>
    </table>
</div>

