@using VioletGames.Data.Enums
@model ConsoleModel
@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1>Cadastrar Consoles</h1><br />
</div>
<form asp-controller="Console" asp-action="Create" method="post" class="singin">
    <div class="mb-3">
        <label for="Name" class="form-label">Nome</label>
        <input type="text" asp-for="Name" class="form-control" style="width: 560px; display: inline;" placeholder="Digite o nome">
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="mb-3">
        <select asp-for="CategoryConsole" class="form-control" style="width: 150px; display: inline;">
            <option value="">Console</option>
            <option value="@CategoryConsole.Ps1">PS1</option>
            <option value="@CategoryConsole.Ps2">PS2</option>
            <option value="@CategoryConsole.Ps3">PS3</option>
            <option value="@CategoryConsole.Ps4">PS4</option>
            <option value="@CategoryConsole.Ps5">PS5</option>
            <option value="@CategoryConsole.Wii">Wii</option>
            <option value="@CategoryConsole.Pc">PC</option>
            <option value="@CategoryConsole.Nitendo64">Nitendo64</option>
            <option value="@CategoryConsole.Xbox360">Xbox360</option>
            <option value="@CategoryConsole.XboxOne">XboxOne</option>
        </select>
        @Html.ValidationMessageFor(x => x.CategoryConsole)
        <select asp-for="StatusConsole" class="form-control" style="width: 150px; display: inline;">
            <option value="">Status</option>
            <option value="@StatusConsole.Active">Ativo</option>
            <option value="@StatusConsole.Pending">Pendente</option>
            <option value="@StatusConsole.Disable">Desativado</option>
        </select>
        @Html.ValidationMessageFor(x => x.StatusConsole)
    </div>
    <div class="mb-3">
        <label for="Price" class="form-label">Valor (Hora)</label>
        <input type="text" asp-for="PriceHour" class="form-control" style="width: 360px; display: inline;" placeholder="00,00">
        @Html.ValidationMessageFor(x => x.PriceHour)
    </div><br />
    <div class="singin">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a role="button" class="btn btn-info" asp-controller="Console" asp-action="Index">Voltar</a>
    </div>
</form>
