@model List<ConsoleModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Violet_Games";
}

<div class="text-center"><br />
    <form class="form-inline justify-content-center">
        <input class="mr-sm-4 search" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-outline-success my-2 mr-sm-4" type="submit">Pesquisar</button>
        <a role="button" class="btn btn-success" asp-controller="Console" asp-action="Create"><img src="~/lib/bottons/add.png" width="30" height="30"></a>
    </form><br />
    <table class="table table-content">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Marca</th>
                <th scope="col">Valor (H)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!--Listar contatos SE existir-->
            @if (Model != null && Model.Any())
            {
                <!--Erro nesse Any-->
                foreach (ConsoleModel Console in Model)
                {
                            <tr>
                                <th scope="row">@Console.Id</th>
                                <td>@Console.Name</td>
                                <td>@Console.Marking</td>
                                <td>@Console.PriceHour</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                        <a role="button" class="btn btn-warning" asp-route-id="@Console.Id" asp-controller="Console" asp-action="Edit"><img src="~/lib/bottons/edit.png" width="20" height="20"></a>
                                        <a role="button" class="btn btn-danger" asp-route-id="@Console.Id" asp-controller="Console" asp-action="DeleteConfirm"><img src="~/lib/bottons/Del.png" width="25" height="25"></a>
                                    </div>
                                </td>
                            </tr>
                }
            }
        </tbody>
    </table>
    <nav aria-label="Navegação de página exemplo">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Anterior</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Próximo">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Próximo</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

