@using VioletGames.Enums
@model FuncionarioModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Violet_Games";
}

@if (TempData["MessagemError"] != null)
{
    <div class="text-center alert alert-danger justify-content-center" role="alert">
        @TempData["MessagemError"]
        <button type="button" class="btn-close alert-danger" data-bs-dismiss="alert" aria-label="Close">X</button>
    </div>
}

<div class="text-center">
    <h1>Cadastrar Funcionário</h1><br />
</div>
<form asp-controller="Funcionario" asp-action="Create" method="post" class="singin">
    <div class="mb-3">
        <label for="Name" class="form-label">Nome</label>
        <input type="text" asp-for="Name" class="form-control" style="width: 560px; display: inline;" placeholder="Digite o nome">
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="mb-3">
        <label for="Date" class="form-label">Data de Nascimento</label>
        <input type="date" asp-for="DateBirthday" class="form-control" style="width: 160px; display: inline;" placeholder="00/00/00">
        @Html.ValidationMessageFor(x => x.DateBirthday)
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" style="width: 360px; display: inline;" placeholder="nome@exemplo.com">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="mb-3">
        <label for="CPF" class="form-label">CPF</label>
        <input type="text" asp-for="CPF" class="form-control" style="width: 260px; display: inline;" placeholder="000000000-00">
        @Html.ValidationMessageFor(x => x.CPF)
        <label for="RG" class="form-label">RG</label>
        <input type="text" asp-for="RG" class="form-control" style="width: 260px; display: inline;" placeholder="000000000-00">
    </div>
    <div class="mb-3">
        <label for="Date" class="form-label">Data de Admissão</label>
        <input type="date" asp-for="DateAdmission" class="form-control" style="width: 160px; display: inline;" placeholder="00/00/00">
    </div>
    <div class="mb-3">
        <label for="Pay" class="form-label">Salário</label>
        <input type="text" asp-for="Pay" class="form-control" style="width: 160px; display: inline;" placeholder="0,00">
        <label for="Office" class="form-label">Cargo</label>
        <select asp-for="Office" class="form-control" style="width: 160px; display: inline;">
            <option value="">Selecione</option>
            <option value="@Office.Boss">Gerente</option>
            <option value="@Office.Employee">Atendente</option>
        </select>
        @Html.ValidationMessageFor(x => x.Office)
    </div>
    <div class="mb-3">
        <label for="Phone" class="form-label">Telefone</label>
        <input type="text" asp-for="Contato.Phone" class="form-control" style="width: 260px; display: inline;" placeholder="(11) 00000-0000">
        @Html.ValidationMessageFor(x => x.Contato.Phone)
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">Endereço</label>
        <input type="text" asp-for="Contato.Address" class="form-control" style="width: 260px; display: inline;" placeholder="Rua exemplo">
        @Html.ValidationMessageFor(x => x.Contato.Address)
    </div><br />
    <div class="singin">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a role="button" class="btn btn-info" asp-controller="Funcionario" asp-action="Index">Voltar</a>
    </div>
</form>
